.sidebar-verse-wrapper {
    width: 100%;        
    display: inline-block;     
    margin-top: 0.5rem;
    text-align: center; 
}

.sidebar-verse {
    font-size: 0.75rem;
    color: var(--text-muted-color);
    font-style: italic;
    cursor: help;
}
