---
layout: page
# The Home page layout
---
<!-- About -->
<div class="post-content">
  <img src="/assets/images/baucas_id.jpg" alt="Baucas ID" style="height: 221px; width:160px; float: right;"/>

  <h1 id="marc-jayson-baucas"> Marc Jayson Baucas </h1>
  <p>PH.D. Candidate at the <a href="https://www.uoguelph.ca/engineering/">School of Engineering</a> of the <a href="https://www.uoguelph.ca/">University of Guelph</a></p>
  <hr>
  <h3> Research Interests </h3>
  <p>My research interests are IoT security applications using wearable IoT devices, fog-IoT, blockchain technologies, and federated learning.</p>
  <h3> Short Bio </h3>
  <p>I am in my last year as a Ph.D. candidate at the School of Enginnering of the University of Guelph, Ontario, Canada, from which I received a B.Eng degree in Computer Engineering in 2018 and an M.A.Sc. in Engineering Systems and Computing in 2020.</p>
  <hr>
</div>

<h2>News</h2>  
<!-- Posts Section -->
{% assign pinned = site.posts | where: "pin", "true" %}
{% assign default = site.posts | where_exp: "item", "item.pin != true and item.hidden != true" %}

{% assign posts = "" | split: "" %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num  %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}

<div id="post-list">

{% for post in posts %}

  <div class="post-preview">
    <h1>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h1>

    <div class="post-content">
      <p>
        {% include no-linenos.html content=post.content %}
        {{ content | markdownify | strip_html | truncate: 200 | escape }}
      </p>
    </div>

    <div class="post-meta text-muted d-flex">
      <div class="mr-auto">

        <!-- posted date -->
        <i class="far fa-calendar fa-fw"></i>
        {% include datetime.html date=post.date %}

        <!-- categories -->
        {% if post.categories.size > 0 %}
          <i class="far fa-folder-open fa-fw"></i>
          <span>
          {% for category in post.categories %}
            {{ category }}
            {%- unless forloop.last -%},{%- endunless -%}
          {% endfor %}
          </span>
        {% endif %}

      </div>

      {% if post.pin %}
      <div class="pin">
        <i class="fas fa-thumbtack fa-fw"></i>
        <span>{{ site.data.locales[site.lang].post.pin_prompt }}</span>
      </div>
      {% endif %}

    </div> <!-- .post-meta -->

  </div> <!-- .post-review -->

{% endfor %}

</div> <!-- #post-list -->

{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}
<!-- core -->
<div id="core-wrapper" class="col-12 col-lg-11 col-xl-9 pr-xl-4">
  <div class="post pl-1 pr-1 pl-md-2 pr-md-2">

  {% capture _content %}
    {% if layout.refactor or page.layout == 'page' %}
      {% include refactor-content.html content=content %}
    {% else %}
      {{ content }}
    {% endif %}
  {% endcapture %}

  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[site.lang].tabs[tab_key] | default: page.title %}
    <h1 class="dynamic-title">
      {{ title }}
    </h1>
    <div class="post-content">
      {{ _content }}
    </div>
  {% else %}
    {{ _content }}
  {% endif %}

